body {
    background-color: rgb(60, 60, 60);
  }

.title_row {
    margin: auto;
    width: 100%;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text_and_contact {
    margin: auto;
    width: 50%;
    padding: 10px;
    border-radius: 3px;
    background-image: linear-gradient(to bottom right, rgb(70, 70, 70), rgb(80, 80, 80));
    color: rgb(20, 20, 20);
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

.filter_form {
    margin: auto;
    width: 50%;
    padding: 10px;
    border-radius: 3px;
    background-image: linear-gradient(to bottom right, rgb(70, 70, 70), rgb(80, 80, 80));
    color: rgb(20, 20, 20);
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

.tools {
    margin: auto;
    width: 50%;
    padding: 10px;
    border-radius: 3px;
    background-image: linear-gradient(to bottom right, rgb(70, 70, 70), rgb(80, 80, 80));
    color: rgb(20, 20, 20);
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

.copyright {
    position: absolute;
    bottom: 5%;
    width: 99%;
    padding: 3;
    color: rgb(20, 20, 20);
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    text-align: center;
}

h4 {
    margin-bottom: 0%;
}

h6 {
    margin: 0%;
}

br {
    line-height: 150%;
}

a {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: rgb(20, 20, 20);
}

/* visited link */
a:visited {
    color: rgb(20, 20, 20);
}

/* mouse over link */
a:hover {
    color: rgb(50, 50, 50);
}

/* selected link */
a:active {
    color: rgb(20, 20, 20);
}

select {
    width: 70%;
    border: none;
    background-color: rgb(60, 60, 60);
    padding: 10px 20px;
    margin: 4px 4%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

label {
    padding-left: 10px;
    padding-right: 20px;
    width: 90px;
    display: inline-block;
}

#label_2 {
    padding-left: 10px;
    padding-right: 20px;
    width: 180px;
    display: inline-block;
}

#label_3 {
    padding-left: 10px;
    padding-right: 20px;
    width: 170px;
    display: inline-block;
}

input[type=text] {
    width: 28%;
    border: none;
    background-color: rgb(60, 60, 60);
    padding: 10px 10px;
    margin: 4px 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

input[type=submit] {
    width: 50%;
    background-color: rgb(60, 60, 60);
    color: rgb(20, 20, 20);
    padding: 10px 20px;
    margin: 10px 25%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: rgb(40, 40, 40);
    color: rgb(80, 80, 80)
}