<!DOCTYPE html>
<html>
<head>
    <title>industArk microservices app</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', path='style.css') }}>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="python, docker, fastapi, redis, celery, postgres, sqlalchemy, jinja2, pandas">
    <meta name="Description" content="Web developement project based on microservices that plots plotly chart of user filtered data">
    <link rel="icon" type="image/x-icon" href={{ url_for('static', path='favicon.ico') }}>
</head>
<body>

</body>